:root {
  --colorPadC: #fffcad;
  --colorPadD: #ffe577;
  --colorPadE: #ffcf86;
  --colorPadF: #fda63a;
  --colorPadG: #ff5a00;
  --colorPadA: #00ffec;
  --colorPadB: #00dfff;
}


div.pads {
  margin-top: 10px;
  padding: 1rem min(6vw, 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  &.disable {
    pointer-events: none;
  }
  & button {
    margin: 1rem 0.1rem;
    padding: 0.5rem 0 4rem 0;
    padding: 1rem 0 3.5rem 0;
    width: 50px;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    font-family: inherit;
    font-size: 0.9rem;
    color: rgba(244, 255, 240, 0.685);
    border: 1px solid black;
    box-shadow: -1px -1px 2px var(--piano--white-20) inset,
      0 -5px 2px 3px var(--piano--black-60) inset, 0 2px 4px var(--piano--black-50);
    background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%);
    cursor: pointer;
  }

  & button.pressed {
    color: rgb(244, 255, 240);;
    background-color: hsla(0, 0%, 0%, 0.554);
    box-shadow: -1px -1px 2px var(--piano--white-20) inset,
    0 -2px 2px 3px var(--piano--black-60) inset, 0 1px 2px var(--piano--black-50);
    background: linear-gradient(
      to right,
      hsl(0, 0%, 27%) 0%,
      hsl(0, 0%, 13%) 100%);
  }
  @media screen and (max-width: 650px) and (max-height: 960px) and (orientation: portrait) {
  
    margin-top: 0;
    & button {
      margin: 1rem 0.1rem;
      padding: 0.5rem 0 3rem 0;
      padding: 1rem 0 2.5rem 0;
      width: 45px;
      font-size: 0.9rem;
      font-family: inherit;
    }
  }
  @media screen and (max-height: 420px) and (orientation: landscape) {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & button {
      margin: 0 0.3rem 0 0;
      padding: calc(2px + 4dvh) 0 calc(2px + 10dvh) 0;
      width: calc(12px + 5vw);
      font-size: 0.9rem;
      font-family: inherit;
    }
  }
  @media screen and (max-width: 350px) {
    & button {
      margin: 0.5rem 0.1rem;
      padding: 1rem 0 2.4rem 0;
      width: 40px;
    }
  }

}