
.language-option {
  & select {
    font-family: inherit;
    font-size: inherit;
    padding: 0.1rem 1.5rem;
    cursor: pointer;
    // Remove focus outline, will add on alternate element
    outline: none;
    border-radius: 5px;
  }
}