div.game-info {
  dialog.modal.announce[open] { // modal.scss
    height: 55dvh;
    width: 90vw;
    margin-top: 0.5rem;

    &::backdrop {
      backdrop-filter: blur(0px) brightness(0.9);
      -webkit-backdrop-filter: blur(0px) brightness(0.9);
    } 
    & div.feedback {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & div.correction { // inside "correction.scss"
        font-size: 1rem;
        margin-top: 2rem;
        flex-direction: row;         
        & div.correction-answers, 
        & div.correction-solution {
          & h1 {
            font-size: 0.9rem;
            margin: 0 1rem 0.5rem;
          }
          & div.notes {
            flex-direction: column;
            align-items: center;
            & div.note {
              border-right: none;
              padding: 0.2rem 0;
              &:not(:last-child){
                border-bottom: 1px solid var(--correction--border-color);
              }
            }
          }
        }
      }
    }
    @media screen and (max-height: 670px) and (orientation: portrait) { 
      height: 56dvh;
      width: 100vw;
      & div.feedback {
        justify-content: center;
        & div.correction { // inside "correction.scss"
          font-size: 0.9rem;
          margin: 0;
          flex-direction: row;         
        }
      }
    }
    @media screen and (max-width: 370px) and (orientation: portrait) { 
    width: 100vw;
    height: 61dvh;
    }
    @media screen and (max-height: 420px) and (orientation: landscape) {
      top: 38dvh;
      height: 45dvh;
      min-width: 0;
      width: 75vw;
      opacity: 0.9;
      & div.feedback {
        margin: 0;
        justify-content: center;
        & div.correction { // inside "correction.scss"
          font-size: 0.9rem;
          & div.correction-answers, 
          & div.correction-solution {
            & h1 {
              margin: 0.4rem 0;
            }
          }
          & div.correction-solution {
            & h1 {
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}