div.metal-buttons {
  $size: 2rem;
  $border: 3px;
  --light-shadow: hsl(39, 61%, 29%);
  --dark-shadow: hsl(38, 88%, 13%);
  $label--active-color: var(--gold);
  $label--color: rgba(255, 255, 255, 0.242);
  $color1: hsl(0, 0%, 28%);
  $color2: hsl(0, 0%, 20%);
  $color3: hsl(0, 0%, 24%);
  $color4: hsl(0, 0%, 22%);

  display: grid;
  grid: 1fr 1fr / 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.3rem;
  background-color: transparent;
  justify-items: center;
  align-items: flex-end;
  text-size-adjust: 80%;
  margin-top: 0.1rem;
  @media screen and (max-width: 650px) and (max-height: 960px) and (orientation: portrait) {
  // @media screen and (max-width: 850px) and (max-height: 1023px) and (orientation: portrait) {
    row-gap: 0.5rem;
    column-gap: 1.5rem;
    margin-top: 0.3rem;
    & div.label { 
      line-height: 2rem;
      font-size: 80%;
    }
  }
  
  div.label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 100%;
    color: $label--color;
    transition: color 0.3s ease-in-out;
    &.is-active {
      color: $label--active-color;
    }
  }

  button.metal-button {
    width: $size;
    height: $size;
    margin-top: 0.2rem;
    border: 1px solid black;
    border-radius: 50%;
    background: conic-gradient($color1, $color2, $color3, $color4,
								$color1, $color2, $color3, $color4,
								$color1, $color2, $color3, $color4,
								$color1, $color2, $color3, $color4);    
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; 
      border-radius: inherit;
      background: linear-gradient(to right, var(--gold), var(--gold), var(--light-shadow), var(--light-shadow), var(--dark-shadow));
    }
    &:active {
      box-shadow: inset 2px 2px 8px #0b0b0b, inset -2px -2px 8px #5a5656;           
    }
  }
}