div.clefs-buttons.metal-buttons {
  margin: 0;

  div.label {
    font-size: 140%;
  }

  @media screen and (max-width: 650px) and (max-height: 960px) and (orientation: portrait) {
  
    & div.label {
      font-size: 120%;
    }
  }
}